@font-face {
    font-family: Aileron;
    src: url(../fonts/Aileron-Regular.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Aileron;
    src: url(../fonts/Aileron-Bold.woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Aileron;
    src: url(../fonts/Aileron-Light.woff2);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Aileron;
    src: url(../fonts/Aileron-SemiBold.woff2);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: IvyMode;
    src: url(../fonts/IvyMode-Light.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}